@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
* {
  box-sizing: border-box;
  margin: 0;

}html{
  height: 100%;
  
}
body{
  margin: 0;
  font-family: "Kaushan Script", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    background-image: url("./materials/wallpaper.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height:100%;
    width:100%;
    min-height: 700px;
  }
h1,
p,
a {
  color: #fff;
}ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
